:root {
  --main-bg-color: #fff;
  --second-bg-color: #2f303a;
  --main-text-color: #212121;
  --hover-color: #2196f3;
  --logo-studio-color: #000000;
  --second-text-color: #ffffff;
  --button-active-bg-color: #188cf8;
  --p-color: #757575;
  --third-bg-color: #f5f4fa;
  --potfolio-bg-color: #eeeeee;
  --project-bg-color: #f5f5f5;
  --contacts-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
.logo {
  color: var(--hover-color);
}
.logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-studio-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.nav-item.link.current {
  color: var(--hover-color);
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--hover-color);
}

.contacts-link-mail,
.contacts-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--p-color);
}

.contacts-link-mail current,
.contacts-link-tel current {
  color: var(--hover-color);
}
.contacts-link-mail:hover,
.contacts-link-mail:focus {
  color: var(--hover-color);
}
.contacts-link-tel:hover,
.contacts-link-tel:focus {
  color: var(--hover-color);
}

.hero {
  background-color: var(--second-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--second-text-color);
}
.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-text-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
.hero-button:active {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--second-text-color);
  background-color: var(--button-active-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-bg-color);
  color: var(--second-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--p-color);
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--third-bg-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item {
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--p-color);
}
.footer {
  background-color: var(--second-bg-color);
}
.logo-footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--hover-color);
}

.footer-adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
.contacts-link-mail-footer,
.contacts-link-tel-footer {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--contacts-color);
}

.contacts-link-mail-footer current,
.contacts-link-tel-footer current {
  color: var(--hover-color);
}
.contacts-link-mail-footer:hover,
.contacts-link-mail-footer:focus {
  color: var(--hover-color);
}
.contacts-link-tel-footer:hover,
.contacts-link-tel-footer:focus {
  color: var(--hover-color);
}

.projects {
  background-color: var(--project-bg-color);
}
.portfolio-button:active {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--second-text-color);
}
.portfolio-button {
  background-color: var(--third-bg-color);
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-text-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--hover-color);
  color: var(--second-text-color);
}

.projects-item {
  background-color: var(--main-bg-color);
}
.projects-link:hover,
.projects-link:focus {
  color: var(--hover-color);
}
.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
projects-link {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--p-color);
}
